 body {
     background-image: url(https://pics.me.me/thumb_bruh-l-stubbed-my-thumb-does-it-look-swollen-gn-19479031.png)
 }
 
 main {
     width: 40%;
     display: flex;
     margin: 0 auto;
 }
 video {
     width: 1200000%;
     height: 1200000%;
     display: flex;
 }

 nav {
    width: 150em;
 }